.container {
  display: flex;
}
.card {
  border: 1px solid #262626;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: 10px 15px;
}

.card-image {
  width: 150px;
  height: 150px;
}
.header {
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  border-radius: 4px;
}

.footer {
  background-color: #ccc;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 20px;
}
.dropdown {
  width: 200px;
  height: 40px;
  margin-top: 20px;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
input {
  margin: 5px 5px 0 0;
}
